body {
  min-height: 100dvh;
  color: #ffffff;
  background: linear-gradient(-45deg, #0a0a0a 0%, #1a1a1a 100%);
  --color: #ffffff;
  --bg-primary: #000;
  --bg-primary-active: #ffffff;
}

a {
  color: var(--color);
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

#app {
  max-width: 800px;
  margin: 0 auto;
}

.hint {
  font-size: 0.875rem;
  color: #aaa;
}

main {
  padding-inline: 1rem;
}

main > section {
  display: grid;
  grid-template-columns: 1rem auto 1rem;
  /* border-bottom: 1px solid #444; */
  > * {
    grid-column: 2;
  }
  > *:first-child {
    margin-top: 1rem;
  }
  > *:last-child {
    margin-bottom: 1rem;
  }
  > .full {
    grid-column: 1 / -1;
    margin-top: 0;
  }
  &:last-child {
    border-bottom: none;
  }
}


.card {
  background-color: #212121;
  border-radius: 1rem;
  padding: 1rem;
  section {
    border-top: 1px solid #444;
    padding-top: 1rem;
    margin-top: 1rem;
  }

}



.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--color);
  border-radius: 0.375rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  background-color: var(--bg-primary);
}

.action {
  font-weight: normal;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-size: 0.75rem;
  }
}

.btn-circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #212121;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: var(--bg-primary-active);
  color: black;
}